<div class="bg-gray-200">
  <div class="grid grid-cols-3 gap-4 mx-4 py-1 h-96">
    <div class="rounded-md border-1 bg-white h-full w-full p-4 overflow-auto col-span-3">
      <div class="relative border-b-2 p-2">
        <h2 class="font-bold text-lg">Git</h2>
        <img src="../../assets/images/github.png" class="absolute right-2 h-5 w-5 top-2">
      </div>
      <app-github></app-github>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 my-2 mx-4 py-2">
    <div class="rounded-md bg-white border-1 h-64 w-full p-4 ">
      <div class="relative border-b-2 p-2">
        <h2 class="font-bold text-lg">Git Actions</h2>
        <img src="../../assets/images/github.png" class="absolute right-2 h-5 w-5 top-2">
      </div>
      <app-git-actions></app-git-actions>
    </div>
    <div class="rounded-md bg-white border-1 h-64 w-full p-4 ">
      <div class="relative border-b-2 p-2">

        <h2 class="font-bold text-lg">Sonar Analysis</h2>
        <img src="../../assets/images/sonarqube1.png" class="absolute right-2 h-7 w-10 top-2">
      </div>
      <app-sonar></app-sonar>
    </div>
  </div>
</div>